SUPABASE_URL = "https://qbeebcdieulluhlsofza.supabase.co"

SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFiZWViY2RpZXVsbHVobHNvZnphIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTE4NjM3MzcsImV4cCI6MjAwNzQzOTczN30.lpgUEOmP67_arfUZfy8TcXXpZpYPPI6OkCDTBO_DBGo"
